version: '3'
services:
  rag-assistant:
    build: ../rag_assistant_api/
    ports:
      - 5000:5000
  rag-chat-ui:
    build: ../rag_chat_ui/
    ports:
      - 5001:5001
  redis:
    image: redis:latest
    container_name: my_redis
    ports:
      - "6379:6379"